* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  height: 100vh;
  max-width: 800px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* header {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.nav {
  padding: 2px;
  flex-grow: 1;
}

.main-nav-list {
  list-style: none;
  display: flex;
  /* align-items: center;
  gap: 30px; */
/* gap: 1em;
  margin-left: 1em;
 } */

/* margins */

/* .quotes{
  max-width: 200px;
  min-width: 100;
 } */

/* Overflow */

.container {
  background-color: aqua;
  border: 3px solid red;
  overflow: hidden;
}
/* 
div.icons {
  float: left;
}
div.icons img {
  width: 200px;
  height: 200px;
  margin: 20px;
  ma
}

 */
